body {
    background-color: black ;
}

#home {
    background-color: cyan;
}

#projects {
    background-color: deepskyblue;
}

#about {
    height: 800px;
    background-color: aqua;
    

}

#contact { 
    font-family: 'Times New Roman', Times, serif;
    background-color: darkturquoise
}
.topnav {
    background-color: darkblue;

}

.bigText {
    color: black;
     
}
.littleText{
    color: black;

}

.text {
    color: white;
}

img {
    float: right;
    width: 500px;
    height: 600px;
    object-fit: cover;
    
}

table, th, td {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}