body {
    background-color: black ;
}

#home {
    height: 675px;
    background-color: cyan;
}

.home-p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: black;
}

#projects {
    
    background-color: deepskyblue;
}

.projects-p{
    font-size: 30px;
}

#about {
    height: 675px;
    background-color: aqua;

}

.about-p{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contact { 
    height: 675px;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkturquoise
}

.contact-h1{
    font-size: 20px;
}

.contact-p{
    font-size: 18px;
}

.topnav {
    height: 40px;
    background-color: darkblue;

}

.bigText {
    color: black;
     
}

.text {
    color: white;
}

img {
    float: right;
    width: 500px;
    height: 600px;
    object-fit: cover;
    
}

table, th, td {
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

